
.userphoto{
   max-width: 100%;
   border-radius: 40%;
}
.selftitle{
   font-family:"Comic Sans MS", cursive, sans-serif	;
   font-size: 32px;
   text-align: center;
}

.userInfo .card{
   border:none;
   border-radius: 20px;
   padding: 10px;
   background-image: linear-gradient(to bottom,rgba(132, 232, 245, 0.37),rgba(0,0,0,0));


}

.userInfo .card-title{
   font-family:"Comic Sans MS", cursive, sans-serif	;
   font-size:24px;
}
.userInfo .card-text{
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif	;
   font-size:18px;
   margin-top:5px;
}
.user_form .modal-header{
   font-family:"Comic Sans MS", cursive, sans-serif	;
   font-size:24px;
}
.user_form .modal-content{
   font-family:"Comic Sans MS", cursive, sans-serif;
   font-size: 18px;
   background-image: linear-gradient(to bottom,rgba(132, 232, 245, 0.37),rgba(0,0,0,0));

}