.forumSideBox{
   border-radius: 20px; 
}
.forumSideBox .modal-header{
   font-family:"Comic Sans MS", cursive, sans-serif;
   font-size: 18px;

}
.forumSideBox .modal-content{
   font-family:"Comic Sans MS", cursive, sans-serif;
   font-size: 18px;
   background-image: linear-gradient(to bottom,rgba(132, 232, 245, 0.37),rgba(0,0,0,0));

}
.forumForm label{
   font-family:"Comic Sans MS", cursive, sans-serif	;
}

.preview{
   max-width: 100%;
   height: 300px;
}
.box_title{
   font-family:"Comic Sans MS", cursive, sans-serif	;
   font-size: 24px;
   background-image: linear-gradient(to bottom,rgba(132, 232, 245, 0.37),rgba(0,0,0,0));
}

.icon{
   width: 24px;
   height: 24px;
   vertical-align: middle;
}
.forum_board{
   background-image: linear-gradient(to bottom,rgba(132, 232, 245, 0.37),rgba(0,0,0,0));
   border-radius: 20px; 
}
.forum_board.card{
   border: none;
}
.forum_board .card-title{
   font-family:"Comic Sans MS", cursive, sans-serif;
   font-size: 32px;
   text-align: center;
}
.forum_board .card-text{
   font-size: 22px;
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif	;
}

.forum_board .card-img{
   margin-left: auto;
   margin-right: auto;
   max-width: 40%;
}

