
.nav-text{
   font-family:'Spectral', serif;
}
#bg {
   background-image: url("/images/bridge.jpg");
   opacity: 1;
   height: 50vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   top: 0;
   bottom: 50;
   z-index: -10;
}
.img{
   width: 24px;
   height: 24px;
}