.title{
   text-align: center;
   font-family:'Spectral', serif;
}
.list{
   background-image: linear-gradient(to bottom,rgba(6, 10, 238, 0.685),rgba(0,0,0,0));
   font-size: 30px;
}
.list_box{
   border-radius: 20px;
   background: transparent;
}
.profileImg{
   height: 350px;
   border-radius: 25px;

}