.SideBox .modal-content{
   padding: 10px;
   background-image: linear-gradient(to bottom,rgba(132, 232, 245, 0.37),rgba(0,0,0,0));
}
.SideBox .modal-header{
   font-family:"Comic Sans MS", cursive, sans-serif;
   font-size: 18px;
}
.SideBox label{
   font-family:"Comic Sans MS", cursive, sans-serif	;

}
.boxName{
   font-weight: bold;
}
.icon{
   width: 24px;
   height: 24px;
   vertical-align: middle;
}
.product{
   height: 500px;
}
.product .card{
   border:none;
}
.product .card-body{
   background-image: linear-gradient(to bottom,rgba(132, 232, 245, 0.37),rgba(0,0,0,0));

}
.product img{
   max-width: 100%;
   height: 300px;
}
.product .card-text{
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif	;

}
.product .card-title{
   font-family:"Comic Sans MS", cursive, sans-serif;

}
.categorybox .modal-content{
   background-image: linear-gradient(to bottom,rgba(132, 232, 245, 0.37),rgba(0,0,0,0));
}
.cardBox{
   background: transparent;
}
.warning{
   color:red;
   text-align: center;
   font-size: 18px;
   font-weight: bold
}
.productPreview{
   height: 200px;
   overflow: auto;
}

